<div class="box">


<h2>横向</h2>
<ul class="zimis">

   <li *ngFor="let zimi of zimis[0]"
     [class.selected]="zimi === selectedZimi"
    (click)="onSelect(zimi)"
   >
    <span class="badge">{{zimi.id}}</span> {{zimi.midi}}---{{zimi.question}}
  </li>
</ul>
<h2>纵向</h2>
<ul class="zimis">   
   <li *ngFor="let zimi of zimis[1]"
     [class.selected]="zimi === selectedZimi"
    (click)="onSelect(zimi)"   >
   	<span class="badge">{{zimi.id}}</span> {{zimi.midi}}--{{zimi.question}}
  </li>
</ul>
</div>



