<div *ngIf="zimi">

	<div>
	    <div ><span style="font-weight:bold;">词条:</span>    <nz-rate [(ngModel)]="midi_rate" style="margin-left: 30px"></nz-rate>
          <span *ngIf="midi_rate" class="ant-rate-text">{{ midi_rate?midi_tooltips[ midi_rate - 1 ] : '' }}</span> </div>
	    <input ng-input *ngFor="let item of midi; index as i;trackBy: trackByI" [readOnly]="!item.canchange"  [style.color]="item.canchange? 'black': 'red'" [(ngModel)]="item.nr"  maxlength="1" style="width:35px;margin-left:3px;text-align: center;">
	     <button nz-button nzType="primary" nzSize="small" (click)="onKey()"style="margin-left:3px;">ok</button>
	     <button nz-button nzType="primary" nzSize="small" (click)="clean()"style="margin-left:3px;">clean</button>

	</div>
      <div><span>  {{errer_message}}</span></div>
      <div>
	 <div ><span style="font-weight:bold;">问题:{{ddd}}</span> <nz-rate [(ngModel)]="question_rate" style="margin-left: 30px"></nz-rate>
          <span *ngIf="question_rate" class="ant-rate-text">{{ question_rate?question_tooltips[ question_rate - 1 ] : '' }}</span> </div>
	      <input nz-input [(ngModel)]="zimi.question" placeholder="question">

	</div>
	<div>
	    <div ><span style="font-weight:bold;">答案:</span>   </div>
	      <input nz-input [(ngModel)]="zimi.answer" placeholder="answer">

	</div>


</div>	


