       


 <nz-list [nzDataSource]="wordItems" 
          [nzRenderItem]="item" 
          [nzHeader]="header"
          [nzItemLayout]="'horizontal'" 
          [nzFooter]="footer"
          [nzPagination]="pagination"
          [nzBordered]=true 
          [nzSize]=small
>
           <ng-template #header let-header>
             <nz-tag *ngFor="let tag of tags" nzMode="checkable"
                [nzChecked]="selectedTags.indexOf(tag) > -1" (nzCheckedChange)="handleChange($event, tag)">
                {{  tag.tag_title}}
              </nz-tag>
           </ng-template>

          <ng-template #item let-item>
            <nz-list-item>
              <nz-list-item-meta
                [nzTitle]="nzTitle"

                [nzDescription]="nzQuestion">
                <ng-template #nzTitle>
                  {{item.midi}}
                </ng-template>
                <ng-template #nzQuestion>
                  {{item.question}}
                </ng-template>

        </nz-list-item-meta>
      </nz-list-item>
    </ng-template>
   <ng-template #footer>

      <nz-pagination [nzPageIndex]="1" [nzTotal]="item_total" (nzPageIndexChange)="loadData($event)" [nzSize]="'small'" nzSimple ></nz-pagination>

   

    </ng-template>


     


  </nz-list>