/* zimisComponent's private CSS styles */
.wrapper {
    display: grid;
    grid-template-columns: 380px 450px 280px;
    grid-template-rows:370px 35px  180px ;

}


.grids{ 
  grid-row-start: 1;
  grid-row-end: 2;

}
.butt{
  grid-row-start: 2;
  grid-row-end: 3;
}

.detail{ 
  grid-row-start: 3;
  grid-row-end:4;
}

.zimi{ 
  grid-row-start:1;
  grid-row-end: 4;
}


.list{
  grid-row-start: 1;
  grid-row-end: 4;

}