 <nz-layout>
      <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'">
        <div class="logo">
        </div>
        <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed" [nzSelectable]="false">
          <li nz-menu-item (click)="creatTianzi('')" ><span ><i nz-icon type="file"></i><span class="nav-text">Zimicreat</span></span></li>
          <li nz-submenu>
            <span title><i nz-icon type="user"></i><span class="nav-text">Tmp</span></span>
            <ul>
                 <app-tianzi-list [tianzis]="tianzis_tmp" [source]="'tmp'" (selectTianzi)="selectTianzi($event)"></app-tianzi-list>
                     </ul>
          </li>
          <li nz-submenu>
            <span title ><i nz-icon type="team"></i><span class="nav-text">Http</span></span>
            <ul>
                <app-tianzi-list [tianzis]="tianzis_http" [source]="'http'" (selectTianzi)="selectTianzi($event)"></app-tianzi-list>
            </ul>
          </li>
          
        </ul>
      </nz-sider>
<nz-content style="margin:16px;background:#fff; padding: 8px; min-height: 420px;">


 <div class="wrapper">
<div class="grids">
<app-zimi-grids [grids]="grids" [canChange]="canChange" [selectedGrids]="selectedGrids" (selectGrid)="setZimis($event)" (selectZimi)="selectZimiindex($event)"></app-zimi-grids>
</div>

<div class="butt">
  <div *ngIf="source==''"><button (click)="add()">add</button>
  <button (click)="cleanGrid()">cancle</button>
    </div>
   <div *ngIf="source=='tmp'">
    <button (click)="save()">save</button>
  <button (click)="cleanZimi()">cleanZimi</button>
    <button (click)="delete()">delete</button>
    <button (click)="update()">update</button>    
   </div>
   <div *ngIf="source=='http'">
    <button (click)="back()">back</button>  
   </div>
</div>

<div class="detail">
<app-zimi-detail *ngIf="!canChange" [zimi]="selectedZimi" [grids]="grids" (changeGrid)="updataGrid($event)"></app-zimi-detail>
</div>
<div class="zimi">
<app-zimi-list [zimis]="zimis" (selectZimi)="selectZimi($event)"></app-zimi-list>
</div>
<div class="list" >
<app-question-list ></app-question-list>
</div>

</div>

</nz-content>

    </nz-layout>
