<p>edit
</p>

<div *ngIf="wordItem">
<form>

	<div>
	    <label>词条: 
	      <input #box  [(ngModel)]="wordItem.midi"  (keyup.enter)="onKey()"  (blur)="onKey()" name="midi" required minlength="2"   #midi="ngModel"  >
    </label>
     <div *ngIf="midi.invalid && (midi.dirty || midi.touched)" class="alert alert-danger">
	  <div *ngIf="midi.errors.required">
	   midi is required.
	  </div>{{wordItem.midi}}
	  <div *ngIf="name.errors.minlength">
	    midi must be at least 2 characters long.
	  </div>
	</div>
	</div>
	<div>
	    <label>问题:
	      <input [(ngModel)]="wordItem.question" placeholder="question" name="question" (keyup.enter)="onKey()"  (blur)="onKey()">
	    </label>
	</div>{{wordItem.question}}
	<div>
	    <label>答案:
	      <input [(ngModel)]="wordItem.answer" placeholder="answer" name="answer" (keyup.enter)="onKey()"  (blur)="onKey()">
	    </label>
	</div>
	<div>
	    <label>标签:
	      <ul class="" *ngIf=selectedTags>

  <li *ngFor="let tag of selectedTags" >     
    <span class="badge" (click)="unselectTag(tag)">{{tag.tag_title}}</span>    
  </li>
</ul>

	    </label>
	</div>
		<div class="">
		<app-tag-list (selectTag)="selectTag($event)"></app-tag-list>
		</div>
     <div *ngIf="wordItem.question_id==-1"><button (click)="add()">add</button></div>
	 <div *ngIf="wordItem.question_id>=0"><button (click)="modify()">modify</button></div>
	

</form>
</div>