 <nz-layout>
  

<nz-content style="margin:24px 16px 0;overflow: initial;width:200px;min-height: 480px">

<form nz-form >

<nz-form-item  >
        <nz-form-label [nzSm]="3" [nzXs]="12" nzFor="midi" nzRequired>
          <span>词条</span>          
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input name="midi"  [(ngModel)]="wordItem.midi"  (keyup.enter)="onKey()"  (blur)="onKey()">
         
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="12" nzFor="question" nzRequired>
          <span>问题</span>          
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input name="question"     [(ngModel)]="wordItem.question" (keyup.enter)="onKey()"  (blur)="onKey()">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="12" nzFor="answer" nzRequired>
          <span>答案</span>          
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" >
          <input nz-input name="answer"     [(ngModel)]="wordItem.answer" (keyup.enter)="onKey()"  (blur)="onKey()">
        </nz-form-control>
    </nz-form-item>
   
    <nz-form-item >
        <nz-form-label [nzSm]="3" [nzXs]="12" nzFor="tag" nzRequired >
          <span>标签</span>          
        </nz-form-label>


		<ul *ngIf="selectedTags" >
			<li *ngFor="let tag of selectedTags"  (click)="unselectTag(tag)"  style="display:inline; float:left;">
			<div class="tag">{{tag.tag_title}}</div>
			</li>
		</ul>

    </nz-form-item>

      <nz-form-item >
        <nz-form-control [nzSpan]="14" [nzOffset]="3"  style="text-align: right; ">
          <button nz-button nzType="default" (click)="add()" *ngIf="wordItem.question_id==-1">add</button>
 		 
 		  <button nz-button nzType="default" (click)="modify()" *ngIf="wordItem.question_id>=0">modify</button>
		  <button nz-button nzType="default" (click)="delete()" *ngIf="wordItem.question_id>=0">delete</button>

        </nz-form-control>
      </nz-form-item>


</form>
	
	
</nz-content>

  <nz-sider  style="background: #fff; padding:0;"> 
     <nz-card style="width:300px;">
      <app-tag-list (selectTag)="selectTag($event)"></app-tag-list>	
    </nz-card>  	
 </nz-sider>


</nz-layout>


